$linkColor: #09d3ac;



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $linkColor;
}

.url-field {
  width: 30rem;
  font-size: 1.4rem;
}

.error {
  color: red;
}


.control-block {
  display: grid;
  align-items: center;
  gap: 1rem;
  width: 50%;
  grid-template-columns: 15rem auto;
  div:nth-child(odd) {
    justify-self: right;
  }
  :nth-child(even){
    justify-self: left;
  }
}

.header-block {
  display: grid;
  column-gap: 2rem;
}
